body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header .logo img {
    max-width: 100%;  /* 限制图片宽度不超过容器的宽度 */
    height: auto;     /* 高度自动调整，保持图片比例 */
}


.carousel {
    position: relative;
    margin: 20px 0;
}

.carousel-images {
    display: flex;
    overflow: hidden;
}

.carousel-img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section {
    width: 30%;
    margin-bottom: 20px;
}

.section h2 {
    text-align: center;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    color: #007BFF;
}


.section-news {
    margin: 20px 0;
}

.section-header {
    display: flex;
    justify-content: space-between; /* 标题和按钮两端对齐 */
    align-items: center; /* 垂直居中 */
}

.section-header h2 {
    margin: 0; /* 去掉默认的外边距 */
}

.news-button {
    text-decoration: none;
}

ul {
    margin-top: 15px; /* 与标题部分分开 */
    padding: 0;
    list-style: none; /* 移除默认列表样式 */
}

ul li {
    margin-bottom: 10px; /* 列表项间距 */
}



.article-container {
    width: 90%;          /* 保持宽度为 90% */
    max-width: 1200px;   /* 可以设置一个最大宽度，防止内容过宽 */
    margin: 0 auto;      /* 水平居中 */
    padding: 0 5%;       /* 留出左右空白 */
    box-sizing: border-box; /* 确保 padding 不影响总宽度 */
}



footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

    
